 ### Aviation Accident Database Overview

## **Overview**
 we will be able to:

Practice reading serialized JSON data from files into Pandas objects.

For this project, you will use data cleaning, imputation, analysis, and visualization to generate insights for a business stakeholder.


# **Business Understanding**
Your company is expanding in to new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft. You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor. You must then translate your findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase


# **Data Understanding**
The Dat
In the data folder is a datasetLinks to an external site. from the National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters.

It is up to you to decide what data to use, how to deal with missing values, how to aggregate the data, and how to visualize it in an interactive dashboard.

In [6]:
#importing of labraries
import pandas as pd
import numpy as np

In [7]:
#convering csv to pandas
df= pd.read_csv("AviationData.csv", encoding= "latin-1")# encoding=  "latin-1" is used if you have a value error
df.head()

C:\Users\user\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

Explore the data to understand it check data type,info,decribe,index,missing values

columns
index
shape
info
describe
missing values

In [8]:
# exploring the that to understand
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [9]:
#index
df.index

RangeIndex(start=0, stop=88889, step=1)

In [10]:
#shape
df.shape

(88889, 31)

In [11]:
#summary of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [12]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [13]:
df.isnull().sum()# check the count of the various missing values

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

Data cleaning
we will identify the various missing values and fill the relevant values and drop those which are unwanted. we will clean the date to the correct formart

In [14]:
df['Country'].isna().sum() # check the missing values in country column

226

In [15]:
df['Country'].value_counts(normalize=True)

United States       0.927647
Brazil              0.004218
Canada              0.004049
Mexico              0.004038
United Kingdom      0.003880
                      ...
Niger               0.000011
Malampa             0.000011
St Lucia            0.000011
San Juan Islands    0.000011
French Guiana       0.000011
Name: Country, Length: 219, dtype: float64

most of the countries is USA and the others are foreign so we will fill the missing 226 values with overseas

In [16]:
df["Country"].fillna("Overseas" , inplace= True)# filling the missing with overseas

In [17]:
df['Country'].isna().sum()# checking if the missing value is replaced

0

Replacing all the columns with missing values with unknown

In [18]:
df["Location"].fillna("Unknown", inplace =True)
df["Airport.Code"].fillna("Unknown", inplace =True)
df['Airport.Name'].fillna("Unknown", inplace =True)
df["Aircraft.damage"].fillna("Unknown", inplace =True)
df['Aircraft.Category'].fillna("Unknown", inplace =True)
df["Make"].fillna("Unknown", inplace =True)
df["Model"].fillna("Unknown", inplace =True)
df["FAR.Description"].fillna("Unknown", inplace =True)
df["Schedule"].fillna("Unknown", inplace =True)
df["Purpose.of.flight"].fillna("Unknown", inplace =True)
df["Air.carrier"].fillna("Unknown", inplace =True)
df["Weather.Condition"].fillna("Unknown", inplace =True)
df["Broad.phase.of.flight"].fillna("Unknown", inplace =True)
df["Amateur.Built"].fillna("Unknown", inplace = True)

In [19]:
df.isna().sum()#checking for the missing values if they have been filled

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Latitude                  54507
Longitude                 54516
Airport.Code                  0
Airport.Name                  0
Injury.Severity            1000
Aircraft.damage               0
Aircraft.Category             0
Registration.Number        1317
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          6084
Engine.Type                7077
FAR.Description               0
Schedule                      0
Purpose.of.flight             0
Air.carrier                   0
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status              6381
Publication.Date          13771
dtype: int64

In [20]:
df["Number.of.Engines"].unique()
df["Number.of.Engines"].median()

1.0

In [21]:
df["Number.of.Engines"].fillna(df["Number.of.Engines"].median())

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
88884    1.0
88885    1.0
88886    1.0
88887    1.0
88888    1.0
Name: Number.of.Engines, Length: 88889, dtype: float64

In [22]:
df['Injuries'] = df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries'] + df['Total.Minor.Injuries']

In [23]:
#df=df.drop(["Publication.Date","Engine.Type","Registration.Number"],axis ="columns")
df=df.drop(["Number.of.Engines"], axis = "columns")

In [24]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Latitude                  54507
Longitude                 54516
Airport.Code                  0
Airport.Name                  0
Injury.Severity            1000
Aircraft.damage               0
Aircraft.Category             0
Registration.Number        1317
Make                          0
Model                         0
Amateur.Built                 0
Engine.Type                7077
FAR.Description               0
Schedule                      0
Purpose.of.flight             0
Air.carrier                   0
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status              6381
Publication.Date          13771
Injuries                  14466
dtype: int64

In [25]:
df= df[df["Aircraft.Category"]!= "Unknown"]

In [26]:
df["Aircraft.Category"].unique()

array(['Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

In [27]:
import matplotlib.pyplot as plt
%matplotlib inline
top_Aircraft = df["Aircraft.Category"].value_counts().nlargest(10)

plt.figure(figsize=(10, 8))
sns.barplot(x=top_Aircraft.index, y=top_Aircraft.values)
plt.title('Top 10 Aircraft Category')
plt.xlabel("Aircraft.Category")
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

ImportError: Matplotlib requires numpy>=1.20; you have 1.18.5

In [28]:
# Step 1: Calculate the correlation matrix
correlation_matrix = df.corr()

# Step 2: Plot the correlation matrix as a heatmap
plt.figure(figsize=(10, 8))  # Optional: Adjust figure size for better readability
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", fmt=".2f", vmin=-1, vmax=1, linewidths=0.5)
plt.title("Correlation Heatmap")
plt.show()

NameError: name 'plt' is not defined

In [29]:
df.corr()

,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Injuries
Total.Fatal.Injuries,1.000000,0.054658,0.065636,-0.016045,0.901251
Total.Serious.Injuries,0.054658,1.000000,0.327207,0.063043,0.433461
Total.Minor.Injuries,0.065636,0.327207,1.000000,0.077430,0.323550
Total.Uninjured,-0.016045,0.063043,0.077430,1.000000,0.020369
Injuries,0.901251,0.433461,0.323550,0.020369,1.000000

In [30]:
plt.figure(figsize=(15, 10))
sns.countplot(data=df, x='Injuries', hue="Aircraft.Category")
plt.title('Relationship between Aircraft Category and Injuries')
plt.xlabel('Injuries')
plt.ylabel("Aircraft.Category")
plt.xticks(rotation=200)
plt.legend(title= 'Injuries')
plt.show()

NameError: name 'plt' is not defined

In [31]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Engine.Type', 'FAR.Description', 'Schedule',
       'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'Injuries'],
      dtype='object')

In [32]:
df['Injury.Severity']

5        Non-Fatal
7        Non-Fatal
8        Non-Fatal
12       Non-Fatal
13        Fatal(1)
           ...
88869    Non-Fatal
88873    Non-Fatal
88876    Non-Fatal
88877        Minor
88886    Non-Fatal
Name: Injury.Severity, Length: 32273, dtype: object